.sidenavcontainer{
  background-color: #09273a;
  width: 20%;
  top: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  transition: 0.4s;
}

.navupper{
  display: grid;
}

.navmenu{
  display: grid;
}

.menuitem{
  display: grid;
  margin-left: 20px;
}

.navfooter{
  display: grid;
  margin-left: 5%;
  /* justify-content: center; */
}

.navmenu{
  grid-template-rows: repeat(7, 1fr);
  margin-top: 50px;
  cursor: pointer;
}

.menuitem{
  height: 57px;
  width: 90%;
  display: flex;
  color:  whitesmoke;
  text-decoration: none;
  font-weight: 500;
  /* text-transform: uppercase; */
  margin: auto auto;
  border-radius: 10px;
  position: relative;
}

.menuitem:hover{
  background-color: #0f4162;
  color: whitesmoke;
  justify-content: center;
  box-shadow: 1px 1px #113065;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.1s;
}

.navfooter{
  display: flex;
  position: absolute;
  bottom: 3%;
  cursor: pointer;
  font-weight: 500;
  width: 90%;
  color: whitesmoke;
  border-radius: 10px;
  grid-template-columns: 2fr 1fr;
  
}

.navdetail{
  display: flex;
}

.navfooter:hover{
  background-color: #0f4162;
  color: whitesmoke;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  box-shadow: 1px 1px #113065;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.1s;
}

.right{
  position: absolute;
  width: 80%;
  height: 100vh;
  background-color: #113065;
  right: 0;
  top: 0;
}

.row{
  display: flex;
  justify-content: space-between;
}

.boox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: whitesmoke;
  cursor: pointer;
  width: 180px;
  transition: 0.4s;
  border-radius: 10px;
  font-size: large;
  height: 180px;
  /* margin-right: 10px; */
  margin:auto auto;
  margin-top: 20%;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid grey;
  /* margin-bottom: 50%; */
}

.boox:hover{
  width: 189px;
  height: 189px;
  transition: 0.2s;
  border-radius: 12px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* .boox:last-child{
  /* margin-right: 0; */


